<hr>
<h1>Support and Resistance</h1>
<hr>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.graph_objects as go
import talib as ta
import yfinance as yf
import datetime

In [2]:
data = yf.download(tickers='^NSEI', period='60d', interval='5m')
data.to_csv("test.csv")

[*********************100%***********************]  1 of 1 completed

In [3]:
data = pd.read_csv('/Users/tejasmadhukar/Documents/Vscode/Data_s/Probability project/test.csv')
# data = pd.read_csv('/Users/tejasmadhukar/Documents/Vscode/Data_s/Probability project/Data/NIFTY 50_5min.csv')
# data = data[data['Datetime'].dt.year==2021]
data['Datetime'] = pd.to_datetime(data['Datetime'])

In [4]:
#data = data.iloc[75:]
data = data[data['Datetime'].dt.month==1]
data

,Datetime,Open,High,Low,Close,Adj Close,Volume
3375,2023-01-02 09:15:00,18131.699219,18150.150391,18113.050781,18113.099609,18113.099609,0
3376,2023-01-02 09:20:00,18115.750000,18139.199219,18097.500000,18131.000000,18131.000000,0
3377,2023-01-02 09:25:00,18130.050781,18132.949219,18092.400391,18101.849609,18101.849609,0
3378,2023-01-02 09:30:00,18101.900391,18128.699219,18087.550781,18122.849609,18122.849609,0
3379,2023-01-02 09:35:00,18121.199219,18146.650391,18112.400391,18146.650391,18146.650391,0
...,...,...,...,...,...,...,...
4496,2023-01-20 15:10:00,18031.150391,18032.900391,18024.750000,18029.349609,18029.349609,0
4497,2023-01-20 15:15:00,18029.449219,18032.750000,18024.849609,18025.150391,18025.150391,0
4498,2023-01-20 15:20:00,18025.650391,18028.699219,18017.449219,18025.150391,18025.150391,0
4499,2023-01-20 15:25:00,18025.250000,18027.349609,18019.500000,18027.300781,18027.300781,0
4500,2023-01-20 15:30:00,18027.650391,18027.650391,18027.650391,18027.650391,18027.650391,0